{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">
          <img src="../assets/us.jpg" style="max-height: 70px; max-width: 70px;" />
          <img title="{{ site.title }}" src="../assets/white-logo.png" style="max-height: 100px; max-width: 600px;" />
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">
            Husband, father, full stack developer, audio book enthusiast, Docker Community Leader, GitKraken Ambassador
            and Jetbrains Rider promoter.
          </h5>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">
            With the evolution of DevOps I try keep up with the current trends and offer on-site training, and
            presentations to try teach or inspire teams to
            take on the DevOps principles.
          </h5>
        </div>
        <div class="row center">
          <h5 class="header col s12 light">
            I create bespoke apps to help illustrate these DevOps principles to help showcase a practical example for
            companies/teams to see.
          </h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../assets/images/startup3.jpg" alt="Unsplashed background img 1"></div>
  </div>
</div>

<div id="cookies" style="display:{{site.cookies_banner}}">
  <p style="text-align:left; padding-left:8px"><a value="hide/show" id="check"
      class="waves-effect waves-light green lighten-1 btn btn-floating pulse"
      onclick="Materialize.toast('{{site.cookie_accept_message}}', 2000)"><i class="material-icons">check</i></a></p>
  {% include cookies.html %}
</div>

<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Lee-Roy Ashworth - CV</span>
          <p>An easy to read copy of my CV has been posted.</p>
        </div>
        <div class="card-action">
          <a href="https://leeroya.com/cv/2023/02/11/Resume/" target="_self">view</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="container">
  <div class="row">
    <div class="col s2">
      <a href="https://leeroya.myportfolio.com/" target="_blank">
        <img src="../assets/images/leeroya-logo.png" style="max-width: 100px;" />
      </a>
    </div>
    <div class="col s2">
      A part from coding and DevOps I enjoy creating different kinds of art.
      My portfolio can be found <a href="https://leeroya.myportfolio.com/">here</a> on then Adobe Behance profile site.
    </div>
    <div class="col s2">
      <a href="https://events.docker.com/durban" target="_self">
        <img src="../assets/images/docker.community.leader.jpg" style="width: 100px;" />
      </a>
    </div>
    <div class="col s2">
      I was a Docker Community Leader for a number of years, reach out to me and I can assist with Docker questions.
    </div>
    <div class="col s2">
      <a href="https://kubernetes.io/">
        <img src="../assets/images/kubernetes-icon-color.png" style="width: 100px;" />
      </a>
    </div>
    <div class="col s2">
      Working with Kubernetes is something that I find myself doing more often, and enjoy solving problems using this technology.
    </div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
    <h3 style="text-align:center;">Tools and Experience</h3>
    {% include skills.html %}
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
    <h3 style="text-align:center;">Gallery</h3>
    {% include my-gallery.html folder="gallery" %}
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/images/twoscreen.jpg" alt="Unsplashed background img 3"></div>
</div>


<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
    <h3 style="text-align:center;">Blog</h3>
    {% include blog-feed.html %}
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
    <h3 style="text-align:center;">Contact</h3>
    {% include contact.html %}
  </div>
</div>




{% include nav-burger.html %}

{% include footer.html %}